* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6em;
  background-attachment: fixed;
  /* background-image: url('bg-img.jpg'); */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #8080803d;
}

.wrapper {
  width: 90%;
  margin: 100px auto 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.main-header {
  width: 100%;
  height: 500px;
  /* background-image: linear-gradient(to left, #f09459, #e66586); */
  background-image: url(images/overlay.png),
    linear-gradient(45deg, #25d366 3%, #128c7e 85%);
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
}

.content h1 {
  margin-bottom: 10px;
  line-height: 1.2em;
}

.start {
  display: block;
  margin: 30px auto 0px;
  text-align: center;
  padding: 5px;
  border: 1px solid #fff;
  width: 150px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
}

.features {
  display: flex;
  height: auto;
  background: #fff;
  padding: 50px 0px;
  justify-content: space-evenly;
}

.feature {
  display: flex;
  padding: 5px;
}

.icon {
  display: grid;
  font-size: 30px;
  height: 30px;
  width: 30px;
  padding: 5px 10px;
  color: #25d366;
  border-radius: 13px;
}

.logo {
  margin-bottom: 20px;
  width: 100px;
}

/* .feature:hover .icon {
   background-image: linear-gradient(to right, #f09459, #e66586); 
  background-image: url(images/overlay.png),
    linear-gradient(45deg, #25d366 3%, #128c7e 85%);
  color: #fff;
} */

.feature-content {
  margin-left: 5px;
  padding: 0px 8px;
}

.feature-content p {
  margin-top: 10px;
  color: #444;
  text-align: center;
}

#our-story,
#politica,
#condicoes,
#regras#our-story {
  width: 100%;
  height: 500px;
  position: relative;
}

.story-wrapper {
  display: flex;
  position: relative;
}

.story-img {
  width: 50%;
  height: 500px;
}

.story-text {
  position: relative;
  width: 50%;
  height: 500px;
  /* background-image: linear-gradient(to left, #eb7d70, #e66586); */
  background-image: url(images/overlay.png),
    linear-gradient(45deg, #25d366 3%, #128c7e 85%);
}

.story-text div {
  position: absolute;
  top: 50%;
  left: 4%;
  color: #fff;
  width: 20%;
}

.box {
  width: 50%;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #999;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.letter {
  width: 100%;
  padding: 70px 0px;
  background: #fff;
}

.control {
  width: 100%;
  text-align: center;
}

.control h3 {
  font-size: 30px;
  line-height: 1.2em;
}

.control span {
  color: #999;
  display: block;
  margin: 10px 0px 20px;
}

.input {
  height: 30px;
  width: 250px;
  border: none;
  margin: 0px 10px 20px 0px;
  background: #f1f1f1;
}

.input:focus {
  outline: none;
}

.btn {
  width: 100px;
  height: 35px;
  border: none;
  padding: 10px;
  background: #e66586;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* background: #f0935a; */
  background: #25d366;
  border-radius: 0px 0px 10px 10px;
}

.contact {
  width: 30%;
  color: #fff;
  text-align: center;
  padding: 50px 0px;
}

/*Responsive Design*/

@media (max-width: 1000px) {
  .main-header {
    height: 300px;
  }
  .features {
    display: grid;
  }

  .feature {
    width: 100%;
    display: flex;
    margin: 0px auto;
    height: 200px;
  }

  /* .feature:hover .icon {
    background: none;
    color: #e66586;
  } */

  .icon {
    font-size: 100px;
    border-radius: 0px;
    height: 200px;
    width: 50%;
    color: #e66586;
    text-align: center;
  }

  .feature-content {
    width: 50%;
    padding-right: 5px;
    box-sizing: border-box;
  }

  .wrapper {
    width: 95%;
  }
}

@media (max-width: 900px) {
  #our-story,
  #politica,
  #condicoes,
  #regras {
    height: auto;
  }
  .story-text,
  .story-img {
    height: 200px;
  }

  .box {
    position: relative;
    margin: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    transform: none;
    box-sizing: border-box;
    /* background-image: linear-gradient(to left, #eb7d70, #e66586); */
    background-image: linear-gradient(45deg, #25d366 3%, #128c7e 85%);
    color: #fff;
  }
}

@media (max-width: 575px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  .feature {
    display: block;
    text-align: center;
    height: auto;
  }

  .icon {
    font-size: 50px;
    height: auto;
    margin: auto;
  }

  .feature-content {
    width: 1005;
    margin: 0px auto;
  }

  .contact {
    width: 200px;
    margin: 0px auto;
    padding: 10px 0px;
  }

  .wrapper {
    width: 100%;
    margin: 0px;
  }
}

.caixa {
  width: 300px;
  margin: auto;
  display: flex;
}

.titulo-caixa {
  margin: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}

.box p {
  margin-top: 10px !important;
}

.story-direitos {
  height: 900px !important;
  width: 100% !important;
}

.disclaimer {
  font-weight: bold;
  margin-top: 40px;
}

.price {
  font-weight: bold;
  display: flex;
  /* margin: auto; */
  justify-content: center;
  font-size: 25px;
}

.compre {
  margin-top: 15px;
  text-align: center;
  width: 100%;
  background-color: #128c7e;
  padding: 20px;
  text-shadow: 2px 2px #474756;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

.compre:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

a {
  color: black;
  text-decoration: none;
}
